.container {
  max-width: 1440px;
  margin: 30px auto;
  padding: 0 5%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-transform: uppercase;
  color: rgb(113, 113, 113);
  letter-spacing: 0.7px;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  transform: scale(105%);
}

.item:first-child {
  color: whitesmoke;
}

.btn {
  padding: 16px 40px;
  border: none;
  border-radius: 30px;
  color: whitesmoke;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.btn:first-child {
  background-color: black;
  margin-right: 8px;
  text-transform: uppercase;
}

.globe {
  margin-right: 3px;
}

.btn:last-child {
  background-color: rgb(92, 92, 231);
}

.btn:hover {
  transform: scale(95%);
}

.hamburger {
  display: none;
}

.active {
  position: relative;
}

.notVisible {
  display: none;
}

.itemsActive {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: palevioletred;
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  color: black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.itemActive:hover {
  transition: 0.3s;
  cursor: pointer;
}

.itemActive:hover {
  transform: scale(103%);
}

@media screen and (max-width: 1020px) {
  .items {
    display: none;
  }
  .buttons {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
  }
  .hamburger:hover {
    transform: scale(105%);
    color: palevioletred;
  }
}

@media screen and (min-width: 1020px) {
  .itemsActive {
    display: none;
  }
}
