.container {
  max-width: 1440px;
  margin: 100px auto;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  max-width: 350px;
}

.subtitle {
  color: gray;
  max-width: 300px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.buttons button {
  padding: 14px 24px;
  border-radius: 12px;
  color: white;
}

.buttons .bookBtn {
  background-color: blueviolet;
  transition: 0.3s;
}

.buttons .bookBtn:hover {
  transform: scale(102%);
}

.buttons .readBtn {
  background-color: black;
  transition: 0.3s;
}

.buttons .readBtn:hover {
  transform: scale(102%);
}

.content {
  display: flex;
  gap: 30px;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:first-child h3 {
  color: blueviolet;
}

.leftContent h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.leftContent p {
  font-size: 18px;
  color: gray;
  max-width: 400px;
}

.img {
  display: flex;
  flex: 1;
  border-radius: 30px;
  width: 100%;
}

@media screen and (max-width: 1230px) {
  .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .card {
    text-align: center;
    margin: 20px 0;
  }
}
