* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(89, 89, 89);
}

::-webkit-scrollbar-track-piece {
  background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a0047;
}
body {
  font-size: 5rem;
  display: grid;
  place-content: center;
  height: 300vh;
}

input,
button {
  font: inherit;
  padding: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  max-width: 2.5em;
}

button {
  font-size: 2rem;
  margin: 0.5em 0 0.5em 0.5em;
  min-width: 2em;
}

button:first-child {
  margin-left: 0;
}
